/** Map */

/* Popup */
.leaflet-popup-content {
    font-size: large;
}

.leaflet-popup-content h4.where,
.leaflet-popup-content p {
    margin: 0.2em 0;
    text-align: center;
}

.leaflet-popup-content h4.where {
    font-family: sans-serif;
}
.leaflet-popup-content .what {
    font-family: cursive;
}

/** Controls */

#controls {
    margin: 0 0 0.5em 0;

    text-align: center;
}

/** Timeline */

#timeline {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em 1em 1em 0;
}

#timeline article {
    transition: all 0.5s;
}
#timeline article.looking,
#timeline article:hover {
    background-color: #ffa50088;
}

/* hgroup */
.leaflet-popup-content h4.where {
    font-family: sans-serif;
}
#timeline li h4.where,
#timeline li .when {
    margin: 0;
    display: inline-block;
}

/* content */

#timeline li .what {
    margin-right: 1.5em;
    font-family: "Times", "SimSun", sans-serif;
}
#timeline li .detail,
#timeline li blockquote {
    font-family: "Times", cursive;
}
#timeline li .detail cite {
    margin: 0.25em;
}
#timeline li blockquote {
    margin: 1em;
    text-align: center;
}

/** Footer */

footer {
    color: gray;
}
footer address {
    text-align: center;
}
footer p {
    text-indent: 2em;
}
