p {
    text-indent: 2em;
}

/** Map */

/* Popup */
.leaflet-popup-content {
    font-size: large;
}

.leaflet-popup-content h4,
.leaflet-popup-content p {
    margin: 0.2em 0;
    text-align: center;
    text-indent: 0;
}

.leaflet-popup-content h4 {
    font-family: sans-serif;
}
.leaflet-popup-content .what {
    font-family: cursive;
}

/** Controls */

#controls {
    text-indent: 0;
    text-align: center;
}

/** Timeline */

#timeline {
    padding: 1em 0;
}

/** Footer */

footer {
    color: gray;
}
footer a {
    color: darkblue;
}
